#container-product-checkout {
    display: flex;
}
#container-product-checkout {
    display: flex;
    flex-wrap: wrap;
}

#Checkout {
    width: 200px;
    margin-top: 50px;
}

#product {
    width: 1000px;
}
